<section class="container ptop150">
  <div class="row">
  <div>
    <label for="">Your name: </label><input id="name" type="text" ng-model="username">
  </div>
  <p></p>
  <div id="messagesDiv" auto-scroll="messages" style="height:500px; background:#fff;">
    <div ng-cloak ng-repeat="message in messages">
      <span class="messageBlock">
        <em>{{message.from}}: </em>
        <span class="content">{{message.content}}</span>
      </span>
    </div>
  </div>
  <form ng-submit="addMessage()">
    <input id="message" type="text" ng-model="message" placeholder="Message...">
    <input class="btn rounded medium" id="send" type="submit" id="submit" value="Send">
  </form>
  </div>
  </section>